pandas~=2.3.0
yahoo_oauth
yahoo_fantasy_api
nba_api
Flask==2.3.3
Authlib==1.3.0  # For Yahoo and Google OAuth
requests==2.31.0
python-dotenv==1.0.1
openai
fastapi
uvicorn
fastapi-utils
azure-storage-blob==12.19.0
gunicorn==21.2.0
supabase
openai
fastapi